section.map > article .contenu {
    .map__wrapper {
        width: 100%;
        height: (432/20em);
        border-radius: 1em;
        overflow: hidden;
    }

    #map {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .city-placemark-label {
        color: rgb(0, 0, 0);
        padding: 6px 8px;
        border-radius: 6px;
        background: #D5E6F0;
        font-family: 'museosans', sans-serif;
        font-size: 12px;
        width: fit-content;
    }
}